body {
    background-color: rgb(142, 156, 182);
}

#conv {

    background-color: rgb(220, 217, 232);
    border: 1px solid #ccc;
    min-height: 100px;
    padding: 5px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 500px;
}

#countNum {
    color: rgb(179, 17, 85);
}


.current{
    background-color: rgb(83, 102, 201);
    color: #ffffff;
}

.correct {
    background-color: rgb(128, 244, 244);
}

.incorrect {
    background-color: rgb(255, 0, 106);
    color: #ffffff;
}

.neutral {
    background-color: rgb(236, 218, 19);
}